{% extends "base.html" %}

{% block title %}
Home - Employee Management System
{% endblock %}

{% block content %}

<div class="hero">

    <h2>Welcome to Employee Management System</h2>

    <p>
        Manage employees and departments using Flask and Jinja2.
    </p>

    <div class="home-buttons">
        <a href="{{ url_for('employee_list') }}" class="btn">
            View Employees
        </a>

        <a href="{{ url_for('department') }}" class="btn">
            View Departments
        </a>
    </div>

</div>

{% endblock %}
